video#bgVideo {
    position: fixed;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    opacity: 0.9;
    height: 100%;
    z-index: -1; // Put the video behind all other elements
   } 